@model WriteDiaryCommand

@{
    
}

<div>
    <h2>일기 만들기</h2>
</div>

<form asp-controller="Home" asp-action="WriteDiary" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-10">
            <h3>생성된 일기를 받을 이메일을 적어주세요.</h3>
            <label asp-for="UserEmail"></label>
            <input asp-for="UserEmail" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h3>일기 제목을 적어주세요.</h3>
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h3>한일 들을 간략하게 적어주세요.</h3>
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control" rows="10"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h3>오늘의 기분을 점수로 표현해주세요.(100점 만점)</h3>
            <label asp-for="FeelingScore"></label>
            <input asp-for="FeelingScore" class="form-control" />
        </div>
    </div>
    <input type="submit" class="btn btn-info" value="생성" />
</form>
